html {
  background: #FFFFFF;
  background: #FFFFFF -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFFFFF), color-stop(100%, #FFFFFF)) fixed;
  background: #FFFFFF -webkit-linear-gradient(#FFFFFF, #FFFFFF) fixed;
  background: #FFFFFF -moz-linear-gradient(#FFFFFF, #FFFFFF) fixed;
  background: #FFFFFF -o-linear-gradient(#FFFFFF, #FFFFFF) fixed;
  background: #FFFFFF -ms-linear-gradient(#FFFFFF, #FFFFFF) fixed;
  background: #FFFFFF linear-gradient(#FFFFFF, #FFFFFF) fixed;
}


header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #89D6FA;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #89D6FA), color-stop(100%, #FFFFFF));
  background: -webkit-linear-gradient(#89D6FA, #FFFFFF);
  background: -moz-linear-gradient(#89D6FA, #FFFFFF);
  background: -o-linear-gradient(#89D6FA, #FFFFFF);
  background: -ms-linear-gradient(#89D6FA, #FFFFFF);
  background: linear-gradient(#89D6FA, #FFFFFF);
  position: relative;
  padding: 25px 30px;
  border-bottom: 1px solid #B2D2E1;
  height: 220px;
}

body {
padding: 0;
margin: 0;
font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #555;
font-weight: 300;
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNC…XjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}

.wrapper{
  width:1400px;
}
