@charset "utf-8";
*{
	margin: 0;
	font-family: 方正舒体;
	font-size: 20px;
}
header{
	height: 66px;
	width: 1400px;
	background: #000000;
	padding: 0;
}
header nav{
	margin: 0 auto;
	padding: 10px;
}

header ul{
	text-align: center;
}
header li{
	display: inline-block;
	margin:12px 165px 0px 0px;
	list-style-type:none;
	color: white;
}

footer{
	height: 66px;
	width: 1400px;
	background-color: #000000;
	color: white;
}
footer ul{
	text-align: center;
	padding: 18px 0px 0px 0px;
}
footer li{
	display: inline-block;
	margin:0px 54px 0px 0px;
	list-style-type:none;
	color: white;
}
